# Parte 3

### Podemos descargar datos de empresas del dataset Forbes2000 (paquete HSAUR) mediante get_rdataset(). Encontraremos un ranking de empresas categorizadas por sector, y con datos de su país, ventas, beneficios, recursos y valor de mercado.

In [30]:
import re
from statsmodels import datasets
df = datasets.get_rdataset('Forbes2000', package='HSAUR')
df_Forbes2000 = df['data']
df_Forbes2000.head(5)

,rank,name,country,category,sales,profits,assets,marketvalue
0,1,Citigroup,United States,Banking,94.71,17.85,1264.03,255.30
1,2,General Electric,United States,Conglomerates,134.19,15.59,626.93,328.54
2,3,American Intl Group,United States,Insurance,76.66,6.46,647.66,194.87
3,4,ExxonMobil,United States,Oil & gas operations,222.88,20.96,166.99,277.02
4,5,BP,United Kingdom,Oil & gas operations,232.57,10.27,177.57,173.54

#### 1. Seleccionar del dataframe los nombres de empresa que incluyen "elect" (sin tener en cuenta mayúsculas). Intentamos con esto obtener empresas “del sector de la electricidad” de forma aproximada.

In [63]:
df_electricas = df_Forbes2000[df_Forbes2000.name.str.contains('elect', re.IGNORECASE, regex=True, na=False)]
df_electricas

,rank,name,country,category,sales,profits,assets,marketvalue
424,425,STMicroelectronics,Switzerland,Semiconductors,7.98,0.28,11.98,24.11
829,830,United Microelectronics,Taiwan,Semiconductors,2.18,0.20,9.29,14.66
1820,1821,Chi Mei Optoelectronics,Taiwan,Technology hardware & equipment,1.72,0.13,2.62,3.68

#### 2. Utilizando como índice el país y la categoría y ordenándolo (sort_index), encontrar el valor de mercado de las empresas japonesas y estadounidenses.

In [43]:
#Ordenar datos
df_Forbes2000_sort = df_Forbes2000.set_index(['country', 'category'])
df_Forbes2000_sort.sort_index(inplace=True)
df_Forbes2000_sort

                                            rank                        name  \
country       category
Africa        Food markets                  1864  Metro Cash and Carry South
              Insurance                      950                Sanlam South
Australia     Banking                         86         Natl Australia Bank
              Banking                        126     Commonwealth Bank Group
              Banking                        149       Westpac Banking Group
              Banking                        160                 ANZ Banking
              Banking                        517              St George Bank
              Conglomerates                  733                  Wesfarmers
              Construction                  1058                Rinker Group
              Construction                  1157                   CSR Group
              Construction                  1549                       Boral
              Diversified financials         682              Suncorp-Metway
              Diversified financials         879     Westfield America Trust
              Diversified financials         913             Westfield Trust
              Diversified financials         932              Macquarie Bank
              Diversified financials        1121      General Property Trust
              Diversified financials        1303                  Lend Lease
              Diversified financials        1430          Westfield Holdings
              Diversified financials        1917         Stockland Australia
              Food drink & tobacco           805              Foster`s Group
              Food drink & tobacco          1353            Coca-Cola Amatil
              Food markets                   580                  Coles Myer
              Food markets                   594                  Woolworths
              Hotels restaurants & leisure  1756            TabCorp Holdings
              Insurance                      772                         AMP
              Insurance                      888         QBE Insurance Group
              Insurance                      978   Insurance Australia Group
              Materials                      745                       Amcor
              Materials                     1173             Bluescope Steel
              Materials                     1832            Minara Resources
...                                          ...                         ...
United States Utilities                      771                 Xcel Energy
              Utilities                      835                     Calpine
              Utilities                      836            Wisconsin Energy
              Utilities                      846                 Energy East
              Utilities                      866                    NiSource
              Utilities                      867               Kinder Morgan
              Utilities                      907                       Scana
              Utilities                     1000         Northeast Utilities
              Utilities                     1040           Reliant Resources
              Utilities                     1048               Pinnacle West
              Utilities                     1160              Alliant Energy
              Utilities                     1225                  CMS Energy
              Utilities                     1244                       NStar
              Utilities                     1268                      Mirant
              Utilities                     1376                       Oneok
              Utilities                     1441                 TECO Energy
              Utilities                     1580                  OGE Energy
              Utilities                     1614               WPS Resources
              Utilities                     1625               MDU Resources
              Utilities                     1767                Puget Energy
              Utilities                     1780                     Questar
              Utilities                     1806         Great Plains Energy
              Utilities                     1814            Allegheny Energy
              Utilities                     1818           National Fuel Gas
              Utilities                     1830                         DPL
              Utilities                     1836           Hawaiian Electric
              Utilities                     1890          Sierra Pacific Res
              Utilities                     1920         Equitable Resources
              Utilities                     1966                      Aquila
Venezuela     Diversified financials        1861     Mercantil Servicios Fin

                                            sales  profits  assets  \
country       category
Africa        Food markets                   7.10     0.06    1.27
              Insurance                      6.54    -0.07   21.17
Australia     Banking                       15.34     2.69  269.94
              Banking                       10.75     1.36  178.29
              Banking                        9.45     1.49  150.08
              Banking                        8.79     1.60  132.44
              Banking                        2.94     0.45   42.66
              Conglomerates                  5.00     0.36    4.27
              Construction                   2.82     0.32    3.80
              Construction                   4.39     1.24    1.53
              Construction                   2.58     0.19    2.65
              Diversified financials         3.44     0.26   25.79
              Diversified financials         1.41     0.45   11.00
              Diversified financials         0.78     0.42    9.49
              Diversified financials         1.80     0.20   19.52
              Diversified financials         0.46     0.32    5.79
              Diversified financials         6.35    -0.48    4.79
              Diversified financials         0.74     0.19    2.08
              Diversified financials         0.35     0.04    4.01
              Food drink & tobacco           3.19     0.31    6.29
              Food drink & tobacco           2.53     0.15    4.33
              Food markets                  17.52     0.33    5.32
              Food markets                  17.74     0.44    3.85
              Hotels restaurants & leisure   1.28     0.17    1.57
              Insurance                      5.40      NaN   42.94
              Insurance                      3.38     0.16   11.44
              Insurance                      3.49     0.10   10.83
              Materials                      7.22     0.24    6.31
              Materials                      3.55     0.30    3.18
              Materials                      0.17     0.34    0.40
...                                           ...      ...     ...
United States Utilities                      9.20    -0.19   18.26
              Utilities                      9.33     0.12   26.04
              Utilities                      4.03     0.26    9.33
              Utilities                      4.65     0.21   10.54
              Utilities                      7.45     0.04   15.70
              Utilities                      1.10     0.38    9.98
              Utilities                      3.34     0.29    7.79
              Utilities                      6.73     0.13   10.97
              Utilities                     11.23    -2.00   16.62
              Utilities                      2.95     0.18    9.11
              Utilities                      2.90     0.19    7.61
              Utilities                      8.58    -1.01   12.31
              Utilities                      2.91     0.20    6.09
              Utilities                      5.81    -4.45   14.16
              Utilities                      2.71     0.23    5.55
              Utilities                      2.95    -0.91   10.46
              Utilities                      3.79     0.11    4.35
              Utilities                      4.36     0.09    4.29
              Utilities                      2.29     0.18    3.33
              Utilities                      2.15     0.13    5.53
              Utilities                      1.40     0.19    3.08
              Utilities                      2.08     0.18    3.64
              Utilities                      2.38    -0.62   10.12
              Utilities                      2.09     0.19    3.84
              Utilities                      1.18     0.14    4.39
              Utilities                      1.76     0.10    9.03
              Utilities                      2.81    -0.14    6.95
              Utilities                      1.08     0.17    2.80
              Utilities                      2.38    -1.72    7.67
Venezuela     Diversified financials         0.98     0.12    6.69

                                            marketvalue
country       category
Africa        Food markets                         0.66
              Insurance                            3.65
Australia     Banking                             36.51
              Banking                             31.95
              Banking                             24.44
              Banking                             23.40
              Banking                              8.07
              Conglomerates                        8.33
              Construction                         5.15
              Construction                         1.32
              Construction                         2.70
              Diversified financials               5.30
              Diversified financials               5.65
              Diversified financials               6.13
              Diversified financials               5.73
              Diversified financials               4.60
              Diversified financials               3.47
              Diversified financials               5.79
              Diversified financials               5.04
              Food drink & tobacco                 7.16
              Food drink & tobacco                 3.62
              Food markets                         7.34
              Food markets                         9.14
              Hotels restaurants & leisure         3.27
              Insurance                            6.70
              Insurance                            5.14
              Insurance                            5.94
              Materials                            5.20
              Materials                            3.46
              Materials                            1.21
...                                                 ...
United States Utilities                            6.88
              Utilities                            2.50
              Utilities                            3.92
              Utilities                            3.43
              Utilities                            5.63
              Utilities                            7.43
              Utilities                            3.91
              Utilities                            2.48
              Utilities                            2.37
              Utilities                            3.43
              Utilities                            2.87
              Utilities                            1.43
              Utilities                            2.60
              Utilities                            0.20
              Utilities                            1.82
              Utilities                            2.78
              Utilities                            2.13
              Utilities                            1.57
              Utilities                            2.70
              Utilities                            2.09
              Utilities                            2.97
              Utilities                            2.40
              Utilities                            1.69
              Utilities                            2.12
              Utilities                            2.54
              Utilities                            1.94
              Utilities                            0.92
              Utilities                            2.73
              Utilities                            0.82
Venezuela     Diversified financials               0.47

[2000 rows x 6 columns]

In [61]:
df_countries = df_Forbes2000_sort.loc[['Japan', 'United States'], ['name','marketvalue']]
print df_countries.tail(5)
print df_countries.head(5)

                                        name  marketvalue
country       category
United States Utilities                  DPL         2.54
              Utilities    Hawaiian Electric         1.94
              Utilities   Sierra Pacific Res         0.92
              Utilities  Equitable Resources         2.73
              Utilities               Aquila         0.82
                                       name  marketvalue
country category
Japan   Banking   Sumitomo Mitsui Financial        31.87
        Banking       Mitsubishi Tokyo Finl        49.92
        Banking            Mizuho Financial        30.87
        Banking                UFJ Holdings        23.71
        Banking             Resona Holdings        13.41

#### 3. Sobre el mismo subconjunto de empresas eléctricas, obtener el país donde el sector de utilities tiene mayor valor de mercado medio en sus empresas.

#### 4. Volviendo al dataset original, obtener las empresas españolas.

In [106]:
df_spain = df_Forbes2000[(df_Forbes2000.country=='Spain')]
df_spain

,rank,name,country,category,sales,profits,assets,marketvalue
38,39,Banco Santander Central,Spain,Banking,28.70,3.28,442.24,56.78
56,57,BBVA-Banco Bilbao Vizcaya,Spain,Banking,24.10,2.81,288.80,44.67
108,109,Repsol-YPF,Spain,Oil & gas operations,29.14,2.05,39.34,26.22
114,115,Endesa Group,Spain,Utilities,20.43,1.65,57.92,21.10
188,189,Iberdrola,Spain,Utilities,11.94,1.33,30.99,18.78
378,379,Banco Popular Espaqol,Spain,Banking,3.32,0.67,44.01,14.38
408,409,Telefsnica,Spain,Telecommunications services,29.84,-5.86,60.65,86.39
462,463,Gas Natural SDG,Spain,Utilities,5.53,0.85,9.25,11.28
472,473,Altadis,Spain,Food drink & tobacco,9.45,0.46,8.66,9.48
529,530,Unisn Fenosa,Spain,Utilities,6.13,0.36,15.71,6.35
532,533,Cepsa,Spain,Oil & gas operations,8.85,0.48,6.31,9.29
605,606,Grupo Ferrovial,Spain,Construction,5.29,0.48,11.78,5.11
734,735,FCC Group,Spain,Construction,5.77,0.29,7.14,4.99
762,763,Inditex,Spain,Household & personal products,4.28,0.47,3.24,13.52
787,788,Banco de Sabadell,Spain,Banking,1.99,0.30,38.38,4.77
876,877,ACS Group,Spain,Construction,4.64,0.19,5.16,6.24
951,952,Corporation Mapfre,Spain,Insurance,5.87,0.12,15.45,2.73
1035,1036,Acciona,Spain,Construction,3.59,0.17,6.11,4.13
1058,1059,Bankinter,Spain,Banking,1.37,0.17,30.05,3.26
1059,1060,Abertis Infraestructuras,Spain,Transportation,0.80,0.21,6.78,7.43
1074,1075,Iberia,Spain,Transportation,4.71,0.17,4.85,3.34
1426,1427,Amadeus Global Travel,Spain,Business services & supplies,2.43,0.20,1.34,3.60
1435,1436,Sacyr-Vallehermoso,Spain,Diversified financials,0.88,0.22,3.75,4.09
1493,1494,Acerinox,Spain,Materials,2.63,0.18,2.70,3.05
1623,1624,Enagas,Spain,Oil & gas operations,1.97,0.18,3.89,2.83
1892,1893,Banco Pastor,Spain,Banking,0.49,0.08,13.12,1.79
1897,1898,Red Eectrica de Espaqa,Spain,Utilities,1.14,0.15,4.28,2.36
1931,1932,Gamesa,Spain,Capital goods,1.15,0.14,2.04,3.02
1992,1993,Sogecable,Spain,Media,1.03,-0.06,1.53,6.02

#### 5. Indexar el dataframe anterior por beneficios (profits) y obtener los nombres y rangos de las que tengan un beneficio nulo o negativo. Nota: intenta indexar de manera mixta con números (filas) y etiquetas columnas), hay una operación específica para esto en pandas.

In [107]:
df_spain.set_index('profits', inplace=True)
df_spain.sort_index(inplace=True)
df_spain.ix[:0,:]

/media/japegon/Datos/ProgramData/Anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

,rank,name,country,category,sales,assets,marketvalue
profits,,,,,,,
-5.86,409,Telefsnica,Spain,Telecommunications services,29.84,60.65,86.39
-0.06,1993,Sogecable,Spain,Media,1.03,1.53,6.02